.app {
  font-size: 15px;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

input {
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

pre {
  margin: 0;
}

main {
  line-height: normal !important;
  margin: 0 0.1rem;
  padding: 0.1rem;
  background-color: #f8f8f8;
  color: deeppink;
  display: inline-block;
}
