.app{
  font-size: 16px;
}

*{
  -webkit-tap-highlight-color:transparent;
}

main{
  line-height: normal !important;
  margin: 0 0.1rem;
  padding: 0.1rem;
  background-color: #F8F8F8;
  color: deeppink;
  display: inline-block;
}