.app{
  font-size: 16px;
}

*{
  -webkit-tap-highlight-color:transparent;
  box-sizing: border-box;
}

input {
  outline: none;
  -webkit-appearance: none; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main{
  line-height: normal !important;
  margin: 0 0.1rem;
  padding: 0.1rem;
  background-color: #F8F8F8;
  color: deeppink;
  display: inline-block;
}